.dropdown-toggle::after{
    color:#23c49e;
}
.highcharts-navigator-mask-inside{
    cursor: pointer!important;
}

/* .rect-22:hover {
    opacity: 1 !important;
    stroke: black !important    
} */

/*@nayhtet*/
/* #rec8day .tooltip {
    visibility: visible !important;
    fill: #a5a5e5 !important;
}
  
#rec8day:hover .tooltip {
    visibility: visible !important;
} */
.rec8day:hover rect {
    stroke-width: 0.06;
    stroke-linejoin: round;
    stroke: #ffffffbb;
    opacity: 0.9;
}
