.dropdown-toggle::after{
    color:#23c49e;
}
.highcharts-navigator-mask-inside{
    cursor: pointer!important;
}

/* .rect-22:hover {
    opacity: 1 !important;
    stroke: black !important    
} */

/*@nayhtet*/
/* #rec8day .tooltip {
    visibility: visible !important;
    fill: #a5a5e5 !important;
}
  
#rec8day:hover .tooltip {
    visibility: visible !important;
} */
.rec8day:hover rect {
    stroke-width: 0.06;
    stroke-linejoin: round;
    stroke: #ffffffbb;
    opacity: 0.9;
}

tr.historyRow td {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
} 
tr.historyRow td:nth-of-type(1) {
    border-left: 1px solid #e1e1e1;
}
tr.historyRow td:nth-last-of-type(1) {
    border-right: 1px solid #e1e1e1;
}

tr.historyRow:hover {
    box-shadow: 1px 1px 4px #d5d5d5;
}

tr.historyRow:hover .lastColumn div {
    box-shadow: 1px 1px 2px #e5e5e5;
}
